Description=myapp

Wants=network.target
After=syslog.target network-online.target

[Service]
Type=simple
ExecStart=uvicorn --app-dir=/home/bruno.santos/codes/personal/poc-github-actions/ main:app --reload
Restart=on-failure
RestartSec=10
KillMode=process

[Install]
WantedBy=multi-user.target